.card {
  display: flex;
  margin-bottom: 20px;
  height: 228px;
  border: 2px solid #f8f8ff;
}

.image {
  width: 30%;
}

.info {
  padding: 10px 40px;
}

.title {
  font-size: 1.7em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.8em;
}

.date,
.location {
  font-size: 1.3em;
  font-weight: bold;
  color: gray;
  margin-bottom: 0.5em;
}

.detail {
  width: 11em;
  margin-top: 1em;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: aliceblue;
  background: green;
  border-radius: 10px;
}
